<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<div>
    <h1 th:inline="text">Hello [[${fullName}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <h4>Add product</h4>
    <form action="#" th:action="@{/products/add}" th:object="${productForm}" method="post">
        <label for="name">Name:</label>
        <input id="name" type="text" th:field="*{name}"/>
        <br>
        <label for="quantity">Quantity:</label>
        <input id="quantity" type="number" th:field="*{quantity}" th:value="*{quantity}"/>
        <br>
        <label for="cost">Cost:</label>
        <input id="cost" type="text" th:field="*{cost}"/>
        <br>
        <label for="owner">Owner:</label>
        <input id="owner" type="text" th:field="*{owner}" th:value="*{owner}"/>
        <br>
        <input type="submit" th:value="Add">
    </form>
</div>
<div th:if="${products.isEmpty()}">
    <p>No Products Available</p>
</div>
<div th:unless="${products.isEmpty()}">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td><span th:text="${product.id}"/></td>
            <td><span th:text="${product.name}"/></td>
            <td><span th:text="${product.quantity}"/></td>
            <td><span th:text="${product.getFormattedCost(#httpServletRequest.getLocale())}"/></td>
            <td><span th:text="${product.owner}"/></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
