<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${products.empty}">
            <td colspan="5">No Products Available</td>
        </tr>
        <tr th:each="product : ${products}">
            <td><span th:text="${product.getId()}"/></td>
            <td><span th:text="${product.getName()}"/></td>
            <td><span th:text="${product.getQuantity()}"/></td>
            <td><span th:text="${product.getCost()}"/></td>
            <td><span th:text="${product.getOwner()}"/></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
